.centered-text-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-image{
  width: 100%; 
  height: auto;
  margin-top: -137px;
}
.bg-blu       { background-color: #1980C3; }
.bg-light-blu { background-color: #0BA9D6; }
.bg-aqua      { background-color: #14B5B5; }
.img-logo { width: 150px; }
@media only screen and (min-width: 768px) {
  .img-logo { width: 200px; }
}
.lg-icon {
  cursor: pointer;
  font-size: 3rem;
}

.hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 20px;
} 
.input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #0BA9D6;
}
.main-head{
  margin-left: 20px;
  margin-right: 20px;
}
.md-icon {
  cursor: pointer;
  font-size: 2rem;
}
.text-centered-header
{
  font-size: 14px;
  text-align: center;
  font-weight: bold
}
.text-white-header {
	color: white;
	font-size:  25px!important ;
}
.text-paragraph{
  text-align: justify
}
.text-centered{
  text-align: center
}
.text-blu       { color: #1980C3; }
.text-light-blu { color: #0BA9D6; }
.text-aqua      { color: #14B5B5; }
.text-white      { color: #ffffff; }
.responsive-image{
  max-width: 400px !important;
}

#head-orders{
  margin-top: 8%
}

